# data & outputs
/data_hipmri_2d/
workdir/
logs/
*.nii
*.nii.gz
*.pt
*.pth
*.ckpt
*.npz
*.tgz


# python cache
__pycache__/
*.pyc
.ipynb_checkpoints/


# envs
.venv/
.env


# OS
.DS_Store
Thumbs.db